<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trick.marketing.mapper.CouponMapper">

    <insert id="addCoupon">
        insert into coupons(code, name, type, description, total_quantity, validity_type, valid_start_time,
                            valid_end_time, days_after_claim, discount_percent,
                            min_spend, max_discount_amount, discount_amount)
        values (#{code}, #{name}, #{type}, #{description}, #{totalQuantity}, #{validityType}, #{validStartTime},
                #{validEndTime}, #{daysAfterClaim}, #{discountPercent}, #{minSpend}, #{maxDiscountAmount},
                #{discountAmount})
    </insert>

    <update id="updateStock">
        update coupons
        set claimed_quantity = claimed_quantity + 1
        where id = #{couponId}
          and (total_quantity is null or total_quantity > claimed_quantity)
    </update>

    <update id="updateCoupon">
        update coupons
        set status = #{dto.status},
            is_hot = #{dto.isHot}
        where id = #{couponId}
          and status != 2
    </update>

    <update id="updateExpiredCoupon">
        UPDATE coupons
        SET status = 2
        WHERE status IN (0, 1)
          AND NOW() > valid_end_time
    </update>

    <select id="getCoupons" resultType="com.trick.marketing.model.vo.CouponsVO">
        select id, code, name, type, description, status, is_hot, total_quantity, claimed_quantity, used_quantity,
        validity_type, valid_start_time, valid_end_time, days_after_claim, discount_percent, min_spend,
        max_discount_amount, discount_amount, create_time, update_time
        from coupons
        <where>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="isHot != null">
                and is_hot = #{isHot}
            </if>
            <if test="name != null and name != '' ">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by id desc
    </select>

    <select id="getCouponById" resultType="com.trick.marketing.model.pojo.Coupons">
        select id,
               code,
               name,
               type,
               description,
               status,
               total_quantity,
               claimed_quantity,
               used_quantity,
               validity_type,
               valid_start_time,
               valid_end_time,
               days_after_claim,
               discount_percent,
               min_spend,
               max_discount_amount,
               discount_amount,
               create_time,
               update_time
        from coupons
        where id = #{couponId}
    </select>


</mapper>